@use '@/style/variables' as *;

// 定义变量
$primary-color: $primary-300;
$secondary-color: #baccd9;
$text-color: rgba($white, 0.9);

// 定义断点
$mobile-breakpoint: $breakpoint-md;

.introduction {
  color: $text-color;
  text-align: left;
  user-select: none;
  z-index: 100;
  width: 100%;
  min-width: 600px;
  max-width: 800px;

  .greeting {
    margin-bottom: $spacing-md;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    
    .hello {
      font-size: 3.75rem;
      font-weight: $font-weight-medium;
    }

    .name {
      font-size: 5.25rem;
      font-weight: $font-weight-bold;
      color: $primary-color;
    }
  }

  .identity {
    font-size: 3rem;
    margin-bottom: $spacing-md;
    font-weight: $font-weight-medium;
  }

  .tech-stack {
    font-size: 2.25rem;
    margin-bottom: $spacing-md;
    
    .tech {
      color: $primary-color;
      font-weight: $font-weight-semibold;
      margin: 0 $spacing-xs + 0.05rem;
    }
  }
}

.introduction-type-writer {
  width: 100%;
  font-size: 2rem;
  color: $secondary-color;
  margin-top: $spacing-sm;
}

@media (max-width: $mobile-breakpoint) {
  .introduction {
    padding: 0;
    min-width: unset;
    max-width: 100%;

    .greeting {
      .hello {
        font-size: 3rem;
      }

      .name {
        font-size: 4.2rem;
      }
    }

    .identity {
      font-size: 2.4rem;
    }

    .tech-stack {
      font-size: 1.8rem;
    }
  }

  .introduction-type-writer {
    font-size: 1.8rem;
  }
}