@use "sass:color";

// Add these rules to hide the browser's native scrollbar
html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

.scroll-bar-container {
    position: fixed;
    top: 0;
    right: 4px;
    width: 6px;
    height: 100%;
    z-index: 1000;
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;

    &.visible {
        opacity: 1;
        pointer-events: auto;
    }

    &.bounce-top .scroll-bar-thumb {
        animation: bounce-top 0.3s ease;
    }

    &.bounce-bottom .scroll-bar-thumb {
        animation: bounce-bottom 0.3s ease;
    }

    & .scroll-bar-thumb {
        position: absolute;
        width: 100%;
        height: auto;
        background-color: rgba(146, 180, 206);
        border-radius: 3px;
        cursor: pointer;
        pointer-events: auto;
        
        &:hover {
            background-color: rgba(146, 180, 206);
        }
        
        &:active {
            background-color: #92b4ce;
        }
    }
}

@keyframes bounce-top {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}

@keyframes bounce-bottom {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
} 