// 颜色变量
$primary-100: #e3f2fd;
$primary-200: #90caf9;
$primary-300: #3498db;
$primary-400: #1976d2;
$primary-500: #1565c0;
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #0d6efd !default;
$dianqing: #1661ab !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #fadb14 !default;
$green: #4baa1c !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// 背景色
$background-color-primary: $primary-100;
$background-color-primary-200: $primary-200;
$background-color-primary-300: $primary-300;
$background-color-primary-400: $primary-400;
$background-color-primary-500: $primary-500;
$background-color-active: $primary-200;
$background-color-hover: $primary-200;

// 字体
$font-family-sans-serif: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji" !default;

$font-family-base: $font-family-sans-serif !default;

// 字体颜色
$font-color-base: $gray-900;
$font-color-active: $gray-700;

// 字体大小
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * .875 !default;
$font-size-normal: $font-size-base * 1.25 !default;
$font-size-lg: $font-size-base * 1.625 !default;
$font-size-root: null !default;

// 字重
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 450 !default;
$font-weight-bolder: 500 !default;
$font-weight-base: $font-weight-normal !default;