.timeline {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 120px;
    background: transparent;

    .contribution-graph {
        align-self: flex-start;
    }
} 